* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ccd5ae;
}

.container {
  background-color: #fefae0;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form select {
  cursor: pointer;
}

form select,
input,
button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.select-container img {
  max-width: 2.3rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.75rem;
  border: 1px solid lightgray;
  background-color: aliceblue;
}

.select-container select {
  font-size: 0.9rem;
  width: auto;
}

.msg {
  margin: 2rem 0;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: #333;
  font-size: 1rem;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 15px 0px -10px 0px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #006d77;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #006d77;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #006d77;
  background-color: #fff;
  
}

.btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #006d77;
}

.btn:active {
  transform: scale(0.9);
}
